<!DOCTYPE html>
<html lang="en">
<head>
        <title>Document</title>
</head>
<body bgcolor=lightgray>
   
    <div class="header">
        <header class="main-header">
            ADD NEW DEPARTMENT
            </header>
</div>
<div class="navbar">
    <nav class="links">
        <a href="{% url 'indexpage' %}" align=center> ALL DEPARTMENTS</a>
         <a href="{% url 'You are welcome' %}" > HOMEPAGE</a>

    </nav>
</div>
<div class=table>
    <form action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <table  align=center height=150>
            {{ form.as_table }}
            
                 </table>
                 <input type="submit" value="update" onclick="return confirm('please are you sure of the entered details')">  
    </form>   
</div>
    

   
     
</body>

</html>